* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --title-size: 30px;
    --text-size: 28px;
    --content-size: 18px;
}

body {
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

#dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.75);
    min-width: 300px;
}

#dialog #title {
    width: 100%;
    background: #090D0E;
    color: #D2D2D2;

    padding: 4px 6px 4px 6px;

    font-size: var(--title-size);
}

#dialog p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #A9C4E4;

    margin: 6px 0 6px 0;
    padding: 0 8px 0 8px;

    font-size: var(--text-size);
}

#dialog #content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
}

button {
    border: 2px solid white;
    border-radius: 7.5px;
    min-width: 25%;
    max-width: 35%;
    background-color: #030708;
    color: #C8C8C8;

    padding: 5px 3px 5px 3px;

    font-size: var(--content-size);

    transition: 0.125s;
}
button:hover {
    border-color: #81181C;
}

input {
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    width: 80%;
    background-color: #030708;
    color: #C8C8C8;

    padding: 6px 3px 6px 3px;

    font-size: var(--content-size);
}
input:focus {
    border-color: #81181C;
}

.list-item {
    width: 95%;
    color: #C8C8C8;

    padding: 4px 2px 4px 4px;

    font-size: var(--content-size);

    cursor: pointer;

    transition: 0.15s;
}

.list-item.selected {
    background-color: #81181C;
}

#content.list {
    background-color: #030708;

    border-radius: 10px;

    margin: 8px;
    padding: 8px;

    max-height: 300px;

    overflow-y: scroll;
    scroll-behavior: smooth;
}
#content.list::-webkit-scrollbar {
    width: 8px;
}
#content.list::-webkit-scrollbar-track {
    background-color: #030708;
}
#content.list::-webkit-scrollbar-thumb {
    background-color: #81181C;
}
#content.list::-webkit-scrollbar-thumb:hover {
    background-color: #a61c21;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}